<section class="container">
    <div class="btn btn__small">
        <mat-icon class="icon" [ngClass]="{ 'icon__lock': !door.padlock, 'icon__unlock': door.padlock}">{{!door.padlock ? 'lock_outline' : 'lock_open_outline'}}</mat-icon>
        <p class="btn-text">{{!door.padlock ? 'locked' : 'opened'}}</p>
    </div>


    <div class="keyboard">
        <div class="row">Senha: {{door.pass}}</div>
        <div class="row">
            <button class="digit" (click)="clicked($event.target)">1</button>
            <button class="digit" (click)="clicked($event.target)">2</button>
            <button class="digit" (click)="clicked($event.target)">3</button>
        </div>
        <div class="row">
            <button class="digit" (click)="clicked($event.target)">4</button>
            <button class="digit" (click)="clicked($event.target)">5</button>
            <button class="digit" (click)="clicked($event.target)">6</button>
        </div>
        <div class="row">
            <button class="digit" (click)="clicked($event.target)">7</button>
            <button class="digit" (click)="clicked($event.target)">8</button>
            <button class="digit" (click)="clicked($event.target)">9</button>
        </div>
        <div class="row">
            <button class="digit btn-erase" (click)="erase()">X</button>
            <button class="digit" (click)="clicked($event.target)">0</button>
            <button class="digit btn-ok" (click)="go()">Ok</button>
        </div>
    </div>
</section>