.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

    &:hover {
        transform: scale(1);
    }
}

.keyboard {
    padding-top: 2em;

    .row {
        display: flex;
        justify-content: center;

        .digit {
            padding: 1em 1.5em;
            margin: 4px;
            cursor: pointer;
        }

        .btn-ok {
            padding: 0 1.1em;
        }

        .btn-erase {
            padding: 0 1.5em;
        }
    }
}